<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <%- include("includes/navigate.ejs") %>

    
    <form id="add_form" action = "/managers/add" method="post">
        <label for="add">add</label></br>
        <input type="text" name="name" required>
        <input type="text" name="surname" required>
        <input id="sub" type="submit" value="ADD">
    </form>
        <% if (managers.length == 0) { %>
            <h1>No managers found!</h1>
            <% } else { %>
                <form id="upd_form" action = "/managers/update/" method="post">
                    <label>update</label></br>
                    <input type="text" name="id" id="manager_id" readonly required>
                    <input type="text" name="name" id="manager_name"  required>
                    <input type="text" name="surname" id="manager_surname" required>
                    <input type="submit" value="UPDATE">
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% managers.forEach((row, _)=> { %>
                            
                            <tr>
                                <td>
                                    <%= row.manager_id %>
                                </td>
                                <td>
                                    <%= row.manager_name %>
                                </td>
                                <td>
                                    <%= row.manager_surname %>
                                </td>
                                <td>
                                    <form method="post" action="/managers/delete">
                                        <input type="hidden" name="id" value="<%= row.manager_id%>">
                                        <button type="submit">
                                            DELETE
                                        </button>
                                </td>
                                <td>
                                    <button type="button" onclick="setUpdtFields(this)"
                                        data-id="<%= row.manager_id %>" data-name="<%= row.manager_name %>"
                                        data-surname="<%= row.manager_surname %>">
                                        EDIT
                                    </button>
                                    
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

                <% } %>
                    <script>
                        function setUpdtFields(row) {
                            document.getElementById("manager_id").value = row.dataset.id;
                            document.getElementById("manager_name").value = row.dataset.name;
                            document.getElementById("manager_surname").value = row.dataset.surname;
                        }
                    </script>

</body>
</html>